.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    font-family: Arial, sans-serif;
}

.title {
    margin-bottom: 1rem;
}

.form {
    margin-bottom: 1rem;
}

.pokemonInput {
    width: 240px;
    height: 24px;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 0.5rem;
}

.searchButton {
    background: #242424;
    border-radius: 8px;
    border-color: #ccc;
    padding: 0.7rem 1rem;
    cursor: pointer;
    color: white;
}

.errorMsg {
    color: red;
}